@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_reactLayout</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>
