@model IEnumerable<WAFF.DataAccess.ViewModels.blockVD>

@{
    var first = 0;

    foreach (var block in Model)
    {
        @Ajax.ActionLink("Block " + block.BlockID + ": " + block.BlockStart, "FilmsB", "Reports",
            new
            {
                id = block.BlockID,
                eventID = block.EventID
            },
            new AjaxOptions
            {
                UpdateTargetId = "containerFilms",
                OnSuccess = "selectedBlock(" + block.BlockID + ")"
            },
            new { id = "block" + block.BlockID})
        <br />

        if (first == 0)
        {
            <input id="currentBlock" type="hidden" value="@block.BlockID" />
            first++;
        }

        <div style="display:none">
            @Ajax.ActionLink("GraphB", "GraphB", "Reports",
            new
            {
                id = block.BlockID,
                eventID = block.EventID
            },
            new AjaxOptions
            {
                UpdateTargetId = "piechartData",
                OnSuccess = "drawChart()"
            },
            new { id = "GraphB" + block.BlockID })
        </div>
    }
}
