
@{
    ViewBag.Title = "Demographics";
}

@Html.Partial("Menu")

<h1 style="text-align: center">Demographics</h1>

<img src="~/Content/Images/pageunderconstruction.png" alt="Under Construction" class="center-block" />

