@model IEnumerable<WAFF.DataAccess.ViewModels.genreVD>

@{
    var first = 0;

    foreach (var genre in Model)
    {
        @Ajax.ActionLink(genre.FilmGenre, "FilmsG", "Reports",
            new
            {
                genre = genre.FilmGenre,
                eventID = genre.EventID
            },
            new AjaxOptions
            {
                UpdateTargetId = "containerFilms",
                OnSuccess = "selectedGenre('" + genre.FilmGenre + "')"
            },
            new { id = genre.FilmGenre })
        <br />

        if (first == 0)
        {
            <input id="currentGenre" type="hidden" value="@genre.FilmGenre" />
            first++;
        }

        <div style="display:none">
            @Ajax.ActionLink("GraphG", "GraphG", "Reports",
            new
            {
                genre = genre.FilmGenre,
                eventID = genre.EventID
            },
            new AjaxOptions
            {
                UpdateTargetId = "piechartData",
                OnSuccess = "drawChart()"
            },
            new { id = "GraphG" + genre.FilmGenre })
        </div>
    }
}
