@{
    ViewBag.Title = "Leader Board";
}

<script src="~/Scripts/Custom/LeaderBoardsFullScreen.js"></script>
<script src="~/Scripts/Custom/updateLeaderBoards.js"></script>

<div id="fullScreen">
    <h2 id="lbHeader">Leader Board</h2>

    <div id="lbImgHeader" class="centeredmenu" style="display: none">
        <ul>
            <li><img src="~/Content/Images/girl and film.png" style="padding:20px" , alt=" world arts film festival logo and link to home page" /></li>
            <li style="padding-top: 35px"><h2>Leader Board</h2></li>
        </ul>
    </div>

    <div style="display: none">
        <!-- Ajax.Actionlink(linktext, actionName,
                routeValues, ajaxOptions, htmlAttributes) -->
        @Ajax.ActionLink("EventSelect", "EventSelect", "Reports",
            new AjaxOptions
            {
                UpdateTargetId = "EventSelect"
            },
            new { id = "eventLoadSelect" })

        @Ajax.ActionLink("EventLB", "EventLB", "Reports",
            new AjaxOptions
            {
                UpdateTargetId = "EventLB",
                OnSuccess = "beginUpdate()"
            },
            new { id = "eventLoadLB" })
    </div>

    <div id="EventSelect"></div>
    <div id="EventLB"></div>

    <div id="leaderBoardContainer"></div>

    <input id="isFull" type="hidden" value="no">
    <div class="text-center">
        <div id="toFull" class="btn btn-default btn-lg" onclick="fullScreen(fullScreen)">Enter Fullscreen</div>
        <input id="test" type="hidden" value="0" />
    </div>

</div>
