
@{
    ViewBag.Title = "Leader Board";
}

<!--@Html.Partial("Menu")-->

<script src="~/Scripts/Custom/LeaderBoardsFullScreen.js"></script>
<script src="~/Scripts/Custom/updateLeaderBoards.js"></script>


<div id="fullScreen">
    <h1 style="padding-top: 30px">Leader Board</h1>

    <div style="visibility:hidden">
        <!-- Ajax.Actionlink(linktext, actionName, 
                routeValues, ajaxOptions, htmlAttributes) -->
        @Ajax.ActionLink("update", "update", null,
            new AjaxOptions
            {
                UpdateTargetId = "leaderBoardContainer"
            },
            new { id = "updateLink" })
    </div>

    <div id="leaderBoardContainer">
    </div>

    <input id="isFull" type="hidden" value="no">
    <div class="text-center">
        <div id="toFull" class="btn btn-default btn-lg" onclick="fullScreen(fullScreen)">Enter Fullscreen</div>
        <input id="test" type="hidden" value="0" />
     </div>
    
</div>
