

<div class="navbar" style="margin-top:25px">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li style="padding: 10px">@Html.ActionLink("Reports", "Reports", 
                null, new {@class = "btn btn-block btn-default btn-lg" })</li>
            <li style="padding: 10px"> @Html.ActionLink("LeaderBoards", "LeaderBoards",
                null, new { @class = "btn btn-block btn-default btn-lg" })</li>
            <li style="padding: 10px">@Html.ActionLink("Demographics", "Demographics",
                null, new {@class = "btn btn-block btn-default btn-lg" })</li>
        </ul>
    </div>
</div>