

<div id="centeredmenu">
    <ul>
        <li style="padding: 10px">@Html.ActionLink("Voting Data", "VotingData", 
            null, new {@class = "btn btn-block btn-default btn-lg" })</li>
        <li style="padding: 10px"> @Html.ActionLink("Leader Board", "LeaderBoards",
            null, new { @class = "btn btn-block btn-default btn-lg" })</li>
        <li style="padding: 10px">@Html.ActionLink("Demographics", "Demographics",
            null, new {@class = "btn btn-block btn-default btn-lg" })</li>
    </ul>
</div>

