

@{
    ViewBag.Title = "Voting Data";
}

<!--@Html.Partial("Menu")-->

<h1 style="padding-top: 30px">Voting Data</h1>

<img src="~/Content/Images/pageunderconstruction.png" class="center-block" />




