@model IEnumerable<WAFF.DataAccess.ViewModels.eventDate>

@{
    ViewBag.Title = "Voting Data";
}

@section AddToHead{
    <link href="~/Content/votingData.css" rel="stylesheet" type="text/css" />
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="~/Scripts/VotingData/pieChart.js"></script>
<script type="text/javascript" src="~/Scripts/VotingData/VotingData.js"></script>

<h1>Voting Data</h1>
<div id="EventSelect">@Html.Action("EventSelect", "Reports")</div>

<div id="containerMain">
    
    <div id="radioContainerVD" class="form-group">
        <label class="radio-inline"><input id="blockR" type="radio" name="radioVD" value=0 onclick="changeB()">Block</label>
        <label class="radio-inline"><input id="genreR" type="radio" name="radioVD" value=1 onclick="changeG()">Genre</label>
    </div>
    <hr />
    
    <div id="containerMainChild2">
        <div id="subContainerChild1">
            <h3 id="headerBG" style="text-align: center">Block</h3>
            <div id="initialEvent" style="display:none">
                 @{
                     foreach (var Event in Model)
                     {
                         @Ajax.ActionLink("Block", "Blocks", "Reports",
                         new
                         {
                             eventID = Event.EventID
                         },
                         new AjaxOptions
                         {
                             UpdateTargetId = "containerBG",
                             OnSuccess = "InitialFilmsBlock"
                         },
                         new { id = "InitialBlocks" + Event.EventID})

                         @Ajax.ActionLink("Genre", "Genres", "Reports",
                         new
                         {
                             eventID = Event.EventID
                         },
                         new AjaxOptions
                         {
                             UpdateTargetId = "containerBG",
                             OnSuccess = "InitialFilmsGenre"
                         },
                         new { id = "InitialGenres" + Event.EventID })
                     }
                 }
            </div>

            <div id="containerBG" onload="InitialFilms()" style="text-align: left"></div>
        </div>
        <div id="subContainerChild2">
            <h3 id="chartTitle" style="text-align: center"></h3>
            <h5 id="totalVotes" style="text-align: center"></h5>
            <div id="piechart_wrap">
                <div id="piechartData"></div>
                <div id="piechart" style="padding:5px;"></div>
            </div>
        </div>
        <div id="subContainerChild3">
            <h3 style="text-align: center">Films</h3>
            <div id="containerFilms" style="text-align: right"></div>
        </div>
    </div>
    <div id="containerMainChild3">
        <h3 style="text-align: center">Film Info</h3>
        <div id="containerFilmInfo"></div>
    </div>
</div>

